{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}

<div class="container mt-5">
    <h1><b><u>About</u></b></h1>
    <h4>❖ Who We are?</h4>
    <p> Techygaurd  is a forward‐thinking technology company dedicated to empowering businesses with cutting‐edge technology
        solutions. We aim to drive digital transformation and fortify organizational resilience by offering innovative services that
        address the evolving challenges of the modern digital landscape. With expertise spanning Artificial Intelligence, IoT,
        Cybersecurity, and Sustainable Technologies, Techygaurd  is a trusted partner for organizations seeking robust and
        reliable security solutions.
    </p>
    <h4>❖ Vision, Mission, and Values</h4>
    <h5><u>Vision</u></h5>
    <p> To be a leading technology company that drives innovation and empowers businesses with transformative solutions,
        shaping a smarter, more connected future.
    </p>
    <h5><u>Mission</u></h5>
    <p>
        To deliver cutting‐edge technology solutions that enhance efficiency, foster innovation, and enable sustainable growth
        for businesses across industries, while addressing the challenges of a rapidly evolving digital landscape.
    </p>
    <h5><u>Value</u></h5>
    <p>
        <li> Innovation: Continuously pushing boundaries to create advanced, impactful solutions.</li>
        <li> Excellence: Committing to the highest standards in every aspect of our work.</li>
        <li> Collaboration: Partnering with clients and stakeholders to achieve mutual success.</li>
        <li> Integrity: Upholding transparency, trust, and accountability in all interactions.</li>
        <li> Sustainability: Developing technology solutions that contribute to a more sustainable and inclusive world.</li>
    </p>
    <h4>Why Choose Techyguard ?</h4>
    <p>
        <li>Certified Expertise: A team of certified professionals with hands‐on experience in cybersecurity.</li>
        <li>Comprehensive Support: Dedicated technical resources, including solution architects, implementation engineers, and
            support engineers.</li>
        <li>Tailored Solutions: Customized services designed to meet the unique security needs of every client.</li>
    </p>
</div>

{% endblock %}