{% extends 'base.html' %}

{% block title %}
Gallery
{% endblock %}

{% block content %}

<div class="blue" style="color: rgb(54, 50, 2); width: 100%; height: 300px; padding: 0px; display: block; overflow: hidden; 
    background: linear-gradient(rgba(204, 194, 7, 0.808), rgba(121, 129, 3, 0.347)), 
                url('https://artgallery.yale.edu/sites/default/files/styles/hero_large_x2/public/2023-01/ag-doc-2281-0036-pub.jpg?h=147a4df9&itok=KlkCSvfh'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    
    <div class="clients-text" style="height: 100px; width: 700px; background-color: transparent; margin: auto; font-size: 60px; text-align: center; margin-top: 100px; font-family: tahoma;">
        <p><b>Gallery</b></p>
    </div>
    
</div>





<div class="elementor-widget-container" style="background-color: transparent; text-align: center; margin-top: 50px;">
    <p style="font-size: 50px; color: rgb(54, 50, 2); text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); font-weight: bold;">Take a look </p>
</div>

<div class="elementor-widget-container" style="background-color: transparent; text-align: center; margin-top: 20px; padding: 0px 20px 0px 20px;">
    <p style="font-size: 20px;">Discover highlights from our client meetings, training sessions, and internal events <br> showcasing our commitment to excellence.</p>
</div>


{% endblock %}