{% extends 'base.html' %}

{% block title %}
Services
{% endblock %}

{% block content %}
<div class="blue" style="background-color: blue; width: 100%; height: 300px; padding: 0px 0px 0px 0px;  display: block; overflow: hidden;">
    <div class="clients-text" style="height: 100px; width: 700px; background-color: antiquewhite; margin: auto; font-size: 60px; text-align: center; margin-top: 50px; font-family: tahoma;">
        <p><b>Our Services</b></p>
    </div>
    <div class="clients-text2" style="height: 50px; width: 1200px; background-color: rgb(18, 184, 145); margin: auto; font-size: 20px; text-align: center; margin-top: 4px;" >
        <p>We are always updating and adding new features</p>
    </div> 
</div>

<div class="elementor-widget-container" style="background-color: #155724; text-align: center; margin-top: 50px;">
    <p style="font-size: 50px;">Services We Provide</p>
</div>

<div class="elementor-widget-container" style="background-color: #71b681; text-align: center; margin-top: 20px; padding: 0px 20px 0px 20px;">
    <p style="font-size: 20px;">Explore how Techygaurd  has helped organizations achieve robust cybersecurity through tailored solutions and expert support.</p>
</div>


<div class="services" style="background-color: #0976BC; width: 100%; height: 500px; display: block; overflow: hidden; font-family: sans-serif;">
    <div class="image" style="width: 40%; height: 500px; float: left; padding: 100px 50px 50px 50px;">
        <div class="elementor-widget-container" style="width: 400px; height: 250px; border-radius: 25%; margin: auto; overflow: hidden;">
            <img src="https://res.cloudinary.com/zenbusiness/q_auto,w_1200,h_800,c_lfill/v1/shared-assets/s2/raster/pointing-at-hexagon-with-the-words-business-services.avif" class="img-fluid" alt="Responsive image">
        </div>        
    </div>
    <div class="text-white" style="width: 60%; height: auto; float: left; padding-top: 25px;">
        <h5><b>Incident Response</b></h5>
        <li>
            Quickly detect, contain, and mitigate the impact of cyberattacks to minimize disruption and ensure business continuity.
        </li>
        <h5><b>Digital Forensics</b></h5>
        <li>
            Recover and analyze electronic data to investigate and resolve cybersecurity incidents effectively.
        </li>
        <h5><b>PCI DSS Certification</b></h5>
        <li>
            Help businesses secure cardholder data by achieving compliance with the Payment Card Industry Data Security Standard (PCI DSS).
        </li>
        <h5><b>ISO 27001 Certification</b></h5>
        <li>
            Support organizations in implementing and certifying an Information Security Management System (ISMS) to protect sensitive data.
        </li>
        <h5><b>Vulnerability Assessment and Penetration Testing (VAPT)</b></h5>
        <li>
            Conduct thorough assessments to identify vulnerabilities and simulate cyberattacks to enhance your security posture.
        </li>
        <h5><b>Source Code Review</b></h5>
        <li>
            Analyze application source code to uncover security flaws missed during development.
        </li>

    </div>
</div>

{% endblock %}